# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ==========================================
# STM32MP157 Mono-repo .gitignore
# ==========================================

# 1. 忽略应用层 (app_code) 编译生成的二进制文件
app_code/mp157_app
app_code/key_app

# 2. 忽略内核驱动 (driver_code) 编译产生的冗余文件
driver_code/*.o
driver_code/*.ko
driver_code/*.mod
driver_code/*.mod.c
driver_code/*.mod.o
driver_code/.*.cmd
driver_code/modules.order
driver_code/Module.symvers
driver_code/.tmp_versions/

# 3. 忽略可能的编辑器缓存 (VS Code / Cursor)
.vscode/
.cursor/
*.swp
*~